.index {
    font-family:tahoma;
    font-size:12px;
    background-image: url("library.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    background-position: center;
}
.login {
    font-family:tahoma;
    font-size:12px;
    background-image: url("library.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    background-position: center;
}
.hasil1 {
    background-image: url("library.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    background-position: center;
}
.hasil2 {
    background-image: url("library.jpg");
    background-size:100%;
    background-repeat: repeat-y;
    background-position: center;
}
#container {
    width:450px;
    padding:20px 40px;
    margin: 10px auto;
    border:2px solid #555;
    background-color: white;
    opacity: 85%;
}
#divlogin {
    width:450px;
    padding:120px 40px;
    margin: 40px auto;
    border:2px solid #555;
    background-color: white;
    opacity: 85%;
}
#admin {
    width:450px;
    padding:200px 40px;
    margin: 40px auto;
    border:2px solid #555;
    background-color: white;
    opacity: 85%;
}
.isi1 {
    font-size: 40px;
    background-color: white;
    opacity: 70%;
    padding: 200px 525px;
    color: black;
}
.isi2 {
    width:700px;
    padding:25px 80px;
    margin:50px auto;
    border:0px solid #555;
    box-shadow:0px 0px 2px #555;
    background-color: white;
}

input[type="text"] {
    width:200px;
}
input[type="text"], textarea {
    padding:5px;
    margin:2px 0px;
    border: 1px solid #777;
}
input[type="password"] {
    padding:5px;
    margin:2px 0px;
    border: 1px solid #777;
}
input[type="submit"], input[type="reset"] {
    padding: 5px 20px;
    margin:2px 0px;
    font-weight:bold;
    cursor:pointer;
}
.header {
    overflow:auto ;
    background: black;
    padding: 20px 10px;
} 
.header-right {
    float: right;
    padding: 10px;
}
.header1 {
    padding: 20px 10px;
    color: white;
    font-size: 20px;
    float: center;
    background-color: black;
}
.header2 {
    padding: 20px 10px;
} 
.header-right2 {
    float: right;
}
#lihat {
    font-size: 15px;
    color: white;
}
#lihat2 {
    font-size: 15px;
    color: white;
}
footer {
  text-align: center;
  padding: 20px;
  background-color:black;
  color: white;
  position: relative;
}
.footer1 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding:22px 525px;
    color: white;
    position:relative;
    background-color: black;
}
.footer2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 525px;
    color:white;
    background-color: black;
    position:relative;
}